@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: "Lora", serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9838 0.0035 247.8583);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.4417 0.0685 233.0647);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.4417 0.0685 233.0647);
  --chart-1: oklch(0.6769 0.1130 215.4619);
  --chart-2: oklch(0.5382 0.1413 262.6152);
  --chart-3: oklch(0.6911 0.1223 158.8756);
  --chart-4: oklch(0.8012 0.1378 81.5452);
  --chart-5: oklch(0.7263 0.1249 349.3142);
  --sidebar: oklch(0.4417 0.0685 233.0647);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.4417 0.0685 233.0647);
  --sidebar-accent: oklch(0.5406 0.0863 233.3289);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4838 0.0645 231.9574);
  --sidebar-ring: oklch(1.0000 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(220 30% 20%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.05rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.03);
  --shadow-sm: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.05), 0rem 1px 2px -0.95px hsl(220 30% 20% / 0.05);
  --shadow: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.05), 0rem 1px 2px -0.95px hsl(220 30% 20% / 0.05);
  --shadow-md: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.05), 0rem 2px 4px -0.95px hsl(220 30% 20% / 0.05);
  --shadow-lg: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.05), 0rem 4px 6px -0.95px hsl(220 30% 20% / 0.05);
  --shadow-xl: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.05), 0rem 8px 10px -0.95px hsl(220 30% 20% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0.05rem hsl(220 30% 20% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2079 0.0399 265.7275);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2079 0.0399 265.7275);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6351 0.1031 233.5013);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.6351 0.1031 233.5013);
  --chart-1: oklch(0.7537 0.1175 214.2019);
  --chart-2: oklch(0.6304 0.1101 263.3315);
  --chart-3: oklch(0.7498 0.1006 160.8683);
  --chart-4: oklch(0.8478 0.1106 83.5300);
  --chart-5: oklch(0.8146 0.0813 347.5928);
  --sidebar: oklch(0.6351 0.1031 233.5013);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.6351 0.1031 233.5013);
  --sidebar-accent: oklch(0.7059 0.0851 231.4346);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6616 0.0780 231.3380);
  --sidebar-ring: oklch(1.0000 0 0);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --radius: 0.5rem;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(220 30% 5%);
  --shadow-opacity: 0.2;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0.1rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.10);
  --shadow-xs: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.10);
  --shadow-sm: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.20), 0rem 1px 2px -0.9px hsl(220 30% 5% / 0.20);
  --shadow: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.20), 0rem 1px 2px -0.9px hsl(220 30% 5% / 0.20);
  --shadow-md: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.20), 0rem 2px 4px -0.9px hsl(220 30% 5% / 0.20);
  --shadow-lg: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.20), 0rem 4px 6px -0.9px hsl(220 30% 5% / 0.20);
  --shadow-xl: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.20), 0rem 8px 10px -0.9px hsl(220 30% 5% / 0.20);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0.1rem hsl(220 30% 5% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}